body.mindmap {
  overflow: hidden;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  /* font-family: Metropolis, sans-serif; */
  font-family: fort, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#reset-graph {
  cursor: pointer;
}

#reset-graph:hover {
  transform: scale(1.3);
}

#mindmap-helper {
  opacity: 0;
  transform: scale(0.8);
  position: absolute;
  bottom: 3vw;
  padding: 2vw;
  z-index: 6;
  font-size: 1rem;
  line-height: 1.5;
  /* backdrop-filter: blur(2PX); */
  /* -webkit-backdrop-filter: blur(10PX); */
  /* border: 1px solid RGBA(255, 255, 255, 0.18); */
  /* box-shadow: 0px 2PX 20PX 0px RGBA(0, 0, 0, 0.3); */
}

.mindmap .graph-info-msg {
  /* 3d force graph built in help msg */
  display: none !important;
}

.mindmap .scene-container {
  width: 100%;
  height: 100%;
}

.mindmap .scene-container canvas {
  width: 100% !important;
  height: 100% !important;
}

.mindmap .org-icon {
  z-index: 9999;
  opacity: 1;
  position: absolute;
  right: 0;
}

.mindmap .lil-gui.root {
  display: flex;
  flex-direction: column;
  width: var(--width, 245px);
}

.mindmap .lil-gui {
  max-width: 16vw;
  backdrop-filter: blur(2PX);
  box-sizing: border-box;
  max-height: 100%;
  position: fixed;
  left: 2vw;
  bottom: 4vw;
  z-index: 1001;
  line-height: 1.5rem;
  padding: 0.5vw 1vw 1vw;
  --background-color: #1f1f1f;
  --text-color: #ebebeb;
  --title-background-color: #111;
  --title-text-color: #ebebeb;
  --widget-color: #424242;
  --hover-color: #4f4f4f;
  --focus-color: #595959;
  --number-color: #2cc9ff;
  --string-color: #a2db3c;
  --font-size: 11px;
  --input-font-size: 11px;
  --font-family: fort, sans-serif;
  /*-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;*/
  --font-family-mono: Menlo, Monaco, Consolas, "Droid Sans Mono", monospace;
  --padding: 4px;
  --spacing: 4px;
  --widget-height: 20px;
  --name-width: 45%;
  --slider-knob-width: 2px;
  --slider-input-width: 27%;
  --color-input-width: 27%;
  --slider-input-min-width: 45px;
  --color-input-min-width: 45px;
  --folder-indent: 7px;
  --widget-padding: 0 0 0 3px;
  --widget-border-radius: 2px;
  --checkbox-size: calc(var(--widget-height)*0.75);
  --scrollbar-width: 5px;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
}

.mindmap .lil-gui .children {
  margin-top: 4px;
}

.mindmap .lil-gui .btn {
  display: block;
  margin: 2px 0;
  color: #bbb9b9;
  /* background-color: var(--focus-color); */
  border: solid 1px var(--focus-color);
  padding: 1px 6px;
  cursor: pointer;
}

.mindmap .lil-gui .nav-info-container {
  margin: 0.5vw 0 1vw 0;
}

.mindmap .lil-gui .nav-info {
  color: #bbb9b9;
}

.mindmap .node-label {
  user-select: none;
  /*
  transform: translateX(-50%) !important;
  color: rgba(0,0,0,0.6);
  text-shadow: 0 0 10px rgb(227 228 228 / 95%);
  text-shadow: 0 0 10px rgb(189 216 216 / 95%);
  color: rgb(6 0 0 / 60%);
  text-shadow: 0 0 0px rgb(175 175 175 / 95%);
  font-family: fort, sans-serif;
  font-family: "Theinhardt Pan", sans-serif;
  font-family: 'URWDIN-Thin', sans-serif !important;
  */

  /*color: rgb(6 0 0 / 59%) !important;*/
  color: rgb(6 0 0 / 2%) !important;
  /*text-shadow: 0 0 0px rgb(236 236 236 / 95%);*/
  text-shadow: 0 0 0px rgb(255 255 255 / 95%);
  font-weight: 400;
  font-style: normal;
}
.mindmap .node-label {
  font-size: .85rem;
    letter-spacing: normal;
}

.mindmap .node-label.middle {
  font-size: .85rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
}

.mindmap .node-label.large {
  letter-spacing: 0.05rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.mindmap .node-label.small {
  color: rgb(6 0 0 / 30%) !important;
  font-size: .7rem;
}

.mindmap #info {
  font-style: normal;
  z-index: 999;
  bottom: 5vw;
  right: 1vw;
  text-align: right;
  position: absolute;
  line-height: 0.1rem;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 999;
  opacity: 1;
}

.mindmap #info div {
  padding: 10px;
  font-size: 1.8rem;
  line-height: 1rem;
}

.mindmap .shadow {
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgb(189 216 216 / 95%);
}

.mindmap .col {
  display: inline-block;
}

.mindmap .footer {
  z-index: 999;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0vw;
}

@media screen and (max-width:479px) { /* mobile phones */
  .mindmap .footer .right {
    display: none;
  }
  #mindmap-helper {
    padding: 0;
  }
}

.mindmap .colophon {
  font-size: 0.6rem !important;
}

.mindmap .lil-gui.autoPlace {
  top: 100px;
}

.mindmap .h-h4.disclaimer.bold.endless {
  font-size: .7rem !important;
}

.mindmap button.active {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  box-shadow: 0 0 10px rgb(189 216 216 / 95%);
}

.mindmap button {
  margin-bottom: 0.5rem !important;
  background: transparent;
  outline: 1px solid rgba(255, 255, 255, 0.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.6rem;
  color: #bbb9b9;
  border: solid 1px var(--focus-color);
  padding: 1px 6px;
  line-height: 1.2;
}

.mindmap button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
